.component-form {
  .left {
    .items {
      border: 1px solid black;
      padding: 10px 15px;
      .list-item-title {
        font-size: 17px;
        ul {
          display: flex;
          li {
            list-style: none;
            width: 50%;
            text-align: center;
            border-radius: 3px;
            position: relative;
            padding: 5px;
            &::before {
              content: '';
              position: absolute;
              width: 0;
              height: 3px;
              background-color: #6373ff;
              border-radius: 2px;
              bottom: -7px;
              left: 0;
            }
            &:hover {
              cursor: pointer;
              background-color: #6373ff;
              color: white;
              &::before {
                width: 100%;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
              }
            }
            &.active {
              background-color: #6373ff;
              color: white;
              &::before {
                width: 100%;
              }
            }
          }
        }
      }
      .item-content-elements {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        border: 1px solid black;
        padding: 10px;
        margin-top: 20px;
        .button {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border: 1px solid black;
          padding: 10px;
          &:hover {
            cursor: pointer;
            background-color: #6373ff;
            color: white;
          }
        }
      }
      .item-content-navigator {
        margin-top: 20px;
        .options {
          padding: 10px;
          border: 1px solid black;
          h4 {
            font-size: 17px;
          }
          .option-list {
            .option {
              margin-top: 10px;
              margin-bottom: 10px;
              width: 100%;
              display: flex;
              justify-content: center;
              flex-direction: column;
              label {
                width: 100%;
                margin-bottom: 10px;
              }
              input {
                width: 100%;
                padding: 5px 10px;
              }
              &.checkbox {
                flex-direction: row-reverse;
                justify-content: flex-end;
                input {
                  width: auto;
                }
                label {
                  width: auto;
                  margin-left: 10px;
                }
              }
            }
            .actions {
              width: 100%;
              display: flex;
              justify-content: flex-end;
              button {
                padding: 5px 10px;
                margin-left: 5px;
                margin-right: 5px;
              }
            }
          }
        }
        .items-list {
          margin-top: 20px;
          padding: 10px;
          border: 1px solid black;
          .item-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            h4 {
              font-size: 17px;
            }
            button {
              padding: 5px 10px;
            }
            .add-list {
              position: absolute;
              right: -45px;
              top: 35px;
              background-color: #cccc;
              padding: 10px 15px;
              border-radius: 5px;
              border: 1px solid black;
              opacity: 0;
              &.show {
                opacity: 1;
              }
              span {
                float: right;
                margin-right: -5px;
                margin-top: -5px;
                &:hover {
                  cursor: pointer;
                  transform: translateY(-2px);
                  font-weight: bold;
                }
              }
              ul {
                margin-top: 10px;
                li {
                  &:hover {
                    cursor: pointer;
                    transform: translateY(-2px);
                  }
                }
              }
            }
          }
          .item-content {
            margin-top: 10px;
            div {
              margin-top: 5px;
              margin-bottom: 5px;
              display: flex;
              flex-direction: column;
              input, textarea {
                margin-top: 5px;
                padding: 5px 10px;
              }
              span {
                margin-top: 5px;
                font-size: 15px;
                opacity: 0.7;
              }
              &.item-actions {
                flex-direction: row;
                justify-content: flex-end;
                margin-top: 15px;
                button {
                  padding: 5px 10px;
                  margin-left: 5px;
                  margin-right: 5px;
                }
              }
              &.required {
                flex-direction: row-reverse;
                justify-content: flex-end;
                align-items: flex-end;
                margin-top: 15px;
                input {
                  margin-top: 0;
                  width: 17px;
                  height: 17px;
                }
                label {
                  margin-left: 10px;
                }
              } 
              &.options-list {
                margin-top: 10px;
                padding: 10px;
                border: 1px solid black;
                .label {
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                  button {
                    padding: 5px 10px;
                  }
                }
                .options-content {
                  padding: 5px 10px;
                  border: 1px solid black;
                  div {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    &.title-option {
                      flex-direction: row;
                      justify-content: space-between;
                      align-items: center;
                      button {
                        padding: 5px 10px;
                      }
                    }
                  }
                }
              }
              &.field-width {
                width: 100%;
                margin-top: 20px;
                .slider {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  flex-direction: row;
                  input {
                    margin-top: 0;
                    width: 80%;
                    padding: 0;
                  }
                  output {
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                  }
                }
              }
            }
          }
          .add-new {
            border: 1px solid black;
            padding: 5px 10px;
            margin-top: 20px;
            .title {
              font-weight: bold;
            }
          }
          ul {
            margin-top: 20px;
            li {
              list-style: none;
              margin-top: 10px;
              margin-bottom: 10px;
              &.active {
                border: 1px solid black;
                padding: 5px 10px;
                .title {
                  font-weight: bold;
                }
              }
              .title {
                &:hover {
                  cursor: pointer;
                  transform: translateY(-2px);
                }
              }
            }
          }
        }
      }
    }
  }
  .right {
    border: 1px solid black;
    padding: 10px;
    padding-bottom: 0;
    .form-component {
      margin-bottom: 10px;
      border: 1px solid black;
      padding: 10px;
      &.active {
        border-color: #6373ff;
      }
      &:hover {
        cursor: pointer;
        border-color: #6373ff;
      }
      .gallery-component {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        .item {
          &:hover {
            cursor: pointer;
            transform: translateY(-2px);
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .form-contact-component {
        form {
          .content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            .item {
              div {
                display: flex;
                flex-direction: column;
                label {
                  margin-bottom: 10px;
                  span {
                    font-size: 14px;
                    color: red;
                  }
                }
                .description {
                  font-size: 15px;
                  opacity: 0.7;
                  margin-top: 5px;
                }
                input, textarea {
                  padding: 10px;
                }
                select {
                  padding: 10px;
                  height: 44px;
                  -moz-appearance:none; /* Firefox */
                  -webkit-appearance:none; /* Safari and Chrome */
                  appearance:none;
                  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                  background-repeat: no-repeat;
                  background-position-x: 100%;
                  background-position-y: 10px;
                }
              }
              &.Checkbox, &.Radio {
                .option {
                  flex-direction: row;
                  margin-bottom: 10px;
                  align-items: center;
                  label {
                    margin-bottom: 0;
                    margin-left: 10px;
                  }
                }
              }
            }
          }
          .actions {
            margin-top: 20px;
            .btn {
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }
}